@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Bold/MyriadPro-Bold.eot');
    src: url('fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
    url('fonts/MyriadPro-Bold/MyriadPro-Bold.otf') format('otf'),
    url('fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype'),
    url('fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
    url('fonts/MyriadPro-Regular/MyriadPro-Regular.otf') format('otf'),
    url('fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
    url('fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    color: #333333;
    font-family: 'MyriadPro', arial;
    background: #fafdfe;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.animaite{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.header-bg{
	/*
    background: url("/images/header_bg.png")  top center no-repeat;
    background-size: 100%;
	*/
}
.title{
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}
.slider-bg{
    padding: 0;
}
.carousel-item{
    height: 450px;
}

.slide-title{
    font-size: 3.5rem;
    margin: 2rem 0;
}
.slide-text{
    font-size: 1.8rem;
}
.carousel-item .container{
    color: #fafdfe;
    padding-top: 4rem;
}
.logo{
    
}
.navbar a{
   font-size: 18px;
   color: #333;
}
.navbar a:hover{
    color: #47b6e5;
}
.prod-img{
    overflow: hidden;
}
.product{
    overflow: hidden;
}
.prod-title{
    font-size: 24px;
}
.prod-descr{
    margin: 0.5rem 0;
}
.product{
    border-radius: 5px;
    border: 1px solid #bababa;
}
.prod-content{
    padding: 1rem;
}
.btn {
    border-radius: 5px;
    height: 50px;
    text-decoration: none;
    color: #fafdfe;
    position: relative;
    display: inline-block;
    width: 100%;
    transition: none;
    font-size: 18px;
    line-height: 40px;

}
.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0;
}
.blue {
    background-color: #55acee;
    box-shadow: 0 5px 0 0 #3C93D5;
}
.calc-bg{
	background: url("/images/calc_bg.png")  top center no-repeat;
	background-size: cover;
    color: #fafdfe;
}
.inp{
    height: 50px;
    border-radius: 5px;
    border: 2px solid #55acee;
    padding: 0.5rem;
}
.calc-inputs label{
    margin-right: 1rem;
}
.calc-list-total{
	border-bottom: 2px solid #55acee;
	height: 96px;
}
.calc-list-elem{
    clear: both;
}
.cle-name{
	float:left;
}
.cle-vol{
    float: right;
}
.calc-title{
    font-size: 1.8rem;
    margin: 0.5rem 0;
}
.calc-inputs #width, .calc-inputs #height{
    width: 120px;
}
.b{
    font-weight: bold;
}
.f-none{
    float: none;
}
.m-b_1{
    margin-bottom: 1rem;
}
.calc-form .inp{
    width: 100%;
}
.m-b-1{
    margin-bottom: 1rem;
}
.dost .title{
    text-align: left;
    margin: 0 0 0.5rem 0;
}
.dost .btn{
    width: 300px;
}
.sub-title{
    margin-bottom: 0.5rem;
}
.adv-bg{
    background: url("/images/adv_bg.png") top center no-repeat;
    background-size: cover;
    color: #fafdfe;

}
.popular-list{
    margin: 2rem;
    font-size: 1.125rem;
}
.popular-elem img{
    margin-right: 1rem;
}
#map_contact{
    position: absolute;
    height: 370px;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
}
.ymaps-2-1-69-map{
    width: 100% !important;
}
.about-com{
    margin: 2rem 0;
    padding: 1rem 2rem;
    /*background: #0b4a71;*/
    background: -moz-linear-gradient(45deg, #3e9bc2 0%, #0b4a71 99%, #1e5799 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #3e9bc2 0%,#0b4a71 99%,#1e5799 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #3e9bc2 0%,#0b4a71 99%,#1e5799 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #fafdfe;
}
.ac-title{
    font-weight: bold;
    font-size: 1.8rem;
}
.ab-us-text{
    padding: 0.5rem 0;

}
.ab-us-text div{
}
.ab-us-text a{
    color: #fafdfe;
}
.ab-us-text a:hover{
    text-decoration: none;
}
.callback-text{
    line-height: 1rem;
}
.callback-text span{
    font-size: 10px;
}
.callback{
    padding: 0.5rem;
    background: #ffab00;
}

.callback-form .inp{
    width: 150px;
    height: 45px;
}
#callback_form_btn{
    width: 150px;
    vertical-align: top;
    height: 40px;
    line-height: 35px;
}
.footer_bg{
    background: #20282c;
    padding: 1rem 0;
}
.footer-text{
    color: #fafdfe;
    font-size: 12px;
}
.footer-social{
    text-align: right;
    line-height: 52px;
}
.footer-social a{
    color: #fafdfe;
    margin-right: 1rem;
}
.footer-social a:hover{
    filter: drop-shadow(0 0 5px #fff);
    text-decoration: none;
}
.footer-text{
    line-height: 52px;
}
.footer-text a{
    color: #fafdfe;
}
.btn-header{
    height: 40px;
    line-height: 30px;
    margin-top: 10px;
    font-size: 1rem;
}
.btn-header:hover{
    color: #fafdfe;
}
#calc_hidden_block{
    display: none;
    padding-bottom: 1rem;
}
@font-face {
    font-family: 'icomoon';
    src:  url('icomoon/icomoon.eot?2w4rbw');
    src:  url('icomoon/icomoon.eot?2w4rbw#iefix') format('embedded-opentype'),
    url('icomoon/icomoon.ttf?2w4rbw') format('truetype'),
    url('icomoon/icomoon.woff?2w4rbw') format('woff'),
    url('icomoon/icomoon.svg?2w4rbw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon2';
    src:  url('icomoon/icomoon2.eot?m6q8e1');
    src:  url('icomoon/icomoon2.eot?m6q8e1#iefix') format('embedded-opentype'),
    url('icomoon/icomoon2.ttf?m6q8e1') format('truetype'),
    url('icomoon/icomoon2.woff?m6q8e1') format('woff'),
    url('icomoon/icomoon2.svg?m6q8e1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-vk:before {
    content: "\e90b";
    font-family: 'icomoon2';
}
.icon-odnoklassniki:before {
    content: "\e900";
}
.icon-google-plus:before {
    content: "\ea8b";
}
.icon-instagram:before {
    content: "\ea92";
}
.item-modal div, .list-items-head div{
	display: inline-block;
}
.item-name{
	width: 20rem;
}
.compl .item-name{
    font-size: 12px;
}
.minus, .plus{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50px;
	/*background-color: #3C93D5;*/
	background: -moz-linear-gradient(0deg, #6fd3fd 0%,  #47b6e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(0deg, #6fd3fd 0%,#47b6e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(0deg, #6fd3fd 0%,#47b6e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: #fafdfe;
	text-align: center;
	line-height: 19px;
}
.inp-modal{
	border-radius: 5px;
	padding-left: 0.5rem;
	width: 4rem;
	border: 1px solid #47b6e5;
}
 .item-inp{
	width: 7rem;
}
.list-items-modal .item-sum{
	width: 4rem;
	text-align: center;
}
.item-sum,.item-price{
	width: 3rem;
}
.list-items-head .item-name{
	width: 18rem;
}
.list-items-head .item-price{
	width: 5.3rem;
}

.list-items-head{
	font-weight: bold;
}
.form-modal{
    border-radius: 5px;
    background-color: #083b5d;
    padding: 1rem;
    color: #fafdfe;
}
.form-modal-text{
    font-size: 12px;
}
.form-modal-inp .btn{
    width: 187px;
    height: 46px;
    vertical-align: top;
}
.total-modal{
    font-weight: bold;
    clear: both;
    height: 2rem;
    border-top: 2px solid #47b6e5;
}
.total-text{
    float: left;
}
.total-num{
    float: right;
}
.top-header{
    position: fixed;
    top: 0;
    background: #fafdfe;
    z-index: 999999;
}
.top-header-hidden{
    height: 70px;
}
.gray-line-block{
    width: 0;
    border-bottom: 2px solid #909090;
    margin: 0 auto;
}
@media screen and (min-width: 575px){
    .modal-dialog {
        max-width: 600px;
    }
}
@media screen and (max-width: 1200px){
   
}
@media screen and (max-width: 992px){
  
}
@media screen and (max-width: 768px){
   
}
@media screen and (max-width: 575px){
    
}
@media screen and (max-width: 500px){
   
}
@media screen and (max-width: 460px){
    
}
@media screen and (max-width: 320px){
    
}

.animated:hover {/*Не работает*/
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.animated {/*Не работает*/
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}